* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 1250px;
    background-color: #487eb0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

.searchinput ::placeholder {
    color: red;
}

.searchinput {

    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    /* border-radius: 10px; */
    padding: 10px 25px;
    /* background: transparent; */
    background-color: white;
    width: 390px;
    outline: none;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;


}

.categoryBtn {
    margin: 0 auto;
    width: 1250px;
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    /* border-radius: 4px; */
}

.categoryBtn button {
    border: none;
    outline: none;
    background-color: #487eb0;
    border-radius: 4px;
    padding: 0.5rem;
    color: white;
}


.search-bar button {

    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
    /* border-radius: 10px; */
    padding: 10px 25px;
    /* background: transparent; */
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    outline: none;
    border: none;

}